* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    color: #222;
    user-select: none;
}

.content {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin: 100px 0 20px 0;
}

.subtitle {
    color: #666;
    margin-bottom: 20px;
}

button {
    background: #282828;
    color: #fff;
    border: none;
    padding: 12px 18px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    outline: none;
}

button:hover {
    background: #5f5f5f;
}
